* {
  box-sizing: border-box;
}

html, body {
  font-family             : 'Roboto Mono', monospace;
  font-size               : 1em;
  font-weight             : 400;
  line-height             : 1.6;
  overflow-x              : hidden;
  width                   : 100%;
  max-width               : 100vw;
  height                  : 100%;
  scroll-behavior         : smooth;
  margin                  : 0;
  padding                 : 0;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  background-color        : #30bbd1;
  color                   : #fff;

}


[type='radio'] {
  display : none;
}

.slider__slides {
  overflow            : hidden;
  background-color    : #ddd;
  box-shadow          : 0 0 1.5rem rgba(0, 0, 0, .5);
  padding             : 0.5rem;
  display             : grid;
  grid-template-areas : "a";
  align-items         : center;
  justify-content     : center;
}


.slider__slide {
  transition       : transform .6s, opacity .6s;
  transform        : scaleX(0);
  opacity          : 0;
  width            : 0;
  grid-area        : a;
  transform-origin : left;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  z-index : 0;

}

.slider__slide img {
  display : block;


}

#slide1:checked ~ .slider__slides .slider__slide--1 {
  transform : scaleX(1);
  width     : 100%;
  opacity   : 1;
  z-index : 1;
}

#slide2:checked ~ .slider__slides .slider__slide--2 {
  transform : scaleX(1);
  width     : 100%;
  opacity   : 1;
  z-index : 1;
}

#slide3:checked ~ .slider__slides .slider__slide--3 {
  transform : scaleX(1);
  width     : 100%;
  opacity   : 1;
  z-index : 1;
}

#slide4:checked ~ .slider__slides .slider__slide--4 {
  transform : scaleX(1);
  width     : 100%;
  opacity   : 1;
  z-index : 1;
}

.slider__texts {
  display             : grid;
  grid-template-areas : "a";
}

.slider__text {
  opacity    : 0;
  transition : all .6s;
}

.slider__text--1 {
  grid-area : a;
}

.slider__text--2 {
  grid-area : a;
}

.slider__text--3 {
  grid-area : a;
}

.slider__text--4 {
  grid-area : a;
}

#slide1:checked ~ .slider__texts .slider__text--1 {
  opacity : 1;
}

#slide2:checked ~ .slider__texts .slider__text--2 {
  opacity : 1;
}

#slide3:checked ~ .slider__texts .slider__text--3 {
  opacity : 1;
}

#slide4:checked ~ .slider__texts .slider__text--4 {
  opacity : 1;
}

.slider__controls {
  display : flex;
  gap     : 0.1rem;
}

.slider__control {
  width               : 3rem;
  height              : 3rem;
  background-image    : radial-gradient(#144bf1 30%, #30bbd1 70%, #30bbd1);
  background-size     : 2rem 2rem;
  background-repeat   : no-repeat;
  background-position : center;
  cursor              : pointer;
  border-color        : #8a2be2;
  border-radius       : 50%;
  display             : flex;
  align-items         : center;
  justify-content     : center;
  color               : #fff;
  font-size           : 0.8rem;
  transition          : background-size 0.3s;
}

.slider__control:hover {
  background-size : 3rem 3rem;
}


.app {
  display : grid;
  width   : 100vw;
  height  : 100vh;
  padding : 2rem;
}

.slider {
  align-self   : center;
  justify-self : center;
  display      : grid;
  width: 44rem;
}

@media screen and (max-width: 768px) {
  .slider {
    width: 100%;
  }
}